<div class='side-spacing'>
  <h2>About <%= @brand.title %></h2>

  <p><%= @brand.description %></p>

  <h3><%= @brand.title %> lifestyle photos</h3>
</div>

<div class='relative'>
  <ul class='gallery unstyled-list' data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
    <li>
      <!-- supporting retina display with native srcset attribute -->
      <img src='http://lorempixel.com/640/320/nightlife/1' alt='' srcset='http://lorempixel.com/1280/640/nightlife/1 2x'>
      <p class='side-spacing'><%= @brand.caption %></p>
    </li>
    <li>
      <img src='http://lorempixel.com/640/320/nightlife/2' alt='' srcset='http://lorempixel.com/1280/640/nightlife/2 2x'>
      <p class='side-spacing'><%= @brand.caption_2 %></p>
    </li>
    <li>
      <img src='http://lorempixel.com/640/320/nightlife/3' alt='' srcset='http://lorempixel.com/1280/640/nightlife/3 2x'>
      <p class='side-spacing'><%= @brand.caption %></p>
    </li>
    <li>
      <img src='http://lorempixel.com/640/320/nightlife/4' alt='' srcset='http://lorempixel.com/1280/640/nightlife/4 2x'>
      <p class='side-spacing'><%= @brand.caption_2 %></p>
    </li>
  </ul>
</div>