<!DOCTYPE html>
<html>
<head>
  <title><%= @brand.title %></title>
  <meta charset='utf-8'>
  <script>document.documentElement.className='has-js'</script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render '/layouts/header' %>

  <%= render '/layouts/notice' %>

  <%= yield %>

  <%= render '/layouts/footer' %>

  <%-# All JS at buttom of page. %>
  <%= javascript_include_tag 'application' %>  

</body>
</html>
